/* Generals */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

p{
    font-size: 15px;
}

h3 {
    font-size: 18px;
}

p , h3 , del{
    color: black;
}

.red {
    color: red;
}

/* Header */ 

header {
    background-color: rgb(255, 105, 0);
    height: 60px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 18px;
}

header img {
    height: 30px;
    text-align: center;
}

header button {    
    text-decoration: none;
    border: none;
    background-color: rgb(255, 105, 0);
}

header, a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 700;
}

.container {
    margin: 0 auto;
    width: 1300px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

i {
    height: 15px;
}

#user-menu {
    justify-content:right;
    padding-right: 10px;
}

/* Main */


article {
    position: relative;
    width: 100%;
    margin: 100px -15px;
}

.description-article {
    display: flex;
    width: 100%;
}

.row {
    flex-basis: 31%;
}

.row .first-photo{
    max-width: 100%;
    display: block;
}

.second-photo {
    max-width: 100%;
    display: none;
}


.card {
    cursor:pointer;
}


.discount {
    display: inline-block;
    background-color: red;
    padding: 4px;
    color: white;
}

.sostenibility {
    display: inline-block;
    background-color: green;
    padding: 4px;
    color: white;
}

.tags {
    font-size: 16px;
    position: absolute;
    left: 15px;
    bottom: 105px;
}

.favorite {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
}


/* hover */


.card:hover .first-photo {
    display: none;
}

.card:hover .second-photo {
    display: block;
}

.card:hover .favorite {
    color: red
}